@import "_variables";
@import "_header";
@import "_about";
html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; //how we measure the space an element occupies
    //header === 300px + 20px of padding === 300px space taken up
    font-size: 62.5%; //1 rem === 10px, accessability, media queries/responsive design
}