html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
  background-color: #f2eceb;
}
.heading {
  position: relative;
  top: 1em;
}
.heading:hover {
  text-decoration: underline;
}
.parent {
  font-size: 6em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.child {
  width: 13em;
  height: 19em;
  border: 3px solid #757575;
  margin: 4em;
  box-shadow: 0.6em 0.3em 0.3em #757575;
  font-family: 'B612 Mono', monospace;
  color: #0182e0;
  transition: all 0.2s;
}
.child:hover {
  transform: scale(1.1) rotate(2deg);
  border-color: #242222;
  box-shadow: 1.2em 0.6em 0.6em #757575;
  background-color: #d6d1d0;
  animation: rotation infinite 2s;
}
.child:hover .title {
  background-color: #d6d1d0;
  transition: all 0.2s;
  color: blue;
}
.image {
  width: 14em;
  display: block;
  margin: auto;
  position: relative;
  top: 1em;
}
.title {
  font-size: 1em;
  text-align: center;
  position: relative;
  top: 1em;
}
.child-2.title {
  position: relative;
  top: 11em;
}
.child-4 {
  position: relative;
  top: 0em;
}
@keyframes rotation {
  50% {transform: rotate(-2deg), scale(1.1);}
  100% {transform: rotate(2deg), scale(1.1);}
}